.project-card{
    border-radius: 15px;
    margin: 30px;
    -webkit-box-shadow: 0px 9px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 15px -9px rgba(0,0,0,0.75);
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.project-card:hover{
    transform: scale(1.05);
    transition: all .5s;
}

.preview{
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #34495E;
    border-radius: 15px 15px 0 0;
}

.preview img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.description{
    width: 100%;
}

.techs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
    margin-bottom: 15px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.git-link, .demo-link{
    font-size: 15px;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 7px;
    cursor: pointer;
}

.git-link{
    background-color:black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.git-link img{
    width: 25px;
    filter:  brightness(0) invert(1);
    margin-right: 10px;
}

.git-link p{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.git-link p img{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline;
}

.demo-link{
    background-color:#16A085;
}

.demo-link p{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.title-project{
    border-bottom: 1px solid grey;
    padding-bottom: 15px;
    margin-bottom: 10px;
    color: #38BF9F;
}

@media screen and (max-width: 360px){
    .project-card{
        border-radius: 15px;
        margin: 30px 0;
    }
}